@charset "UTF-8";
body {
  background: green;
  box-sizing: border-box;
}

.card {
  text-align: center;
  font-size: 80px;
  margin: auto;
  height: 200px;
  width: 250px;
  background: white;
  padding: 20px;
  padding-top: 180px;
  border-radius: 5px;
  border: 1px solid black;
  position:relative;
}

.card::before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.card::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}

.card.spade:before, .card.spade:after {
  content: "\2660";
  color: black;
}

.card.club:before, .card.club:after {
  content: "\2663";
  color: black4;
}
.card.heart:before, .card.heart:after {
  content: "\2665";
  color: red;
}
.card.diamond:before, .card.diamond:after {
  content: "\2666";
  color: red;
}

/*
var nombres = ["rombo", "espada", "trebol", "corazon"]
var iconos = ["\2666", "\2660", "\2663", "\2665"];
*/
